.navbar {
    background-color: rgb(39, 39, 39);
}

.container {
    background-color: rgb(39, 39, 39);
}

#text {
    color: white;
    background-color: rgb(39, 39, 39);
}

#gite {
    color: white;
    background-color: rgb(39, 39, 39);
}